html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
section {
  height: 100vh;
  width: 100%;
  color: white;
  background-color: #0b0b0b;
 
  
}
.container{
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info h1{
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.info h1 span { font-weight: 400; margin-left: 10px;}

.red { background: #FE0098;
background: -webkit-linear-gradient(to right, #FE0098 15%, #FF003D 100%);
background: -moz-linear-gradient(to right, #FE0098 15%, #FF003D 100%);
background: linear-gradient(to right, #FE0098 15%, #FF003D 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; }


@media only screen and (max-width: 780px) {
  html {
    font-size: 12px;
  }
}
